@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom background image class */
.bg-custom {
    background-color: black;
    background-size: cover;
    background-position: center;
}
